.Input{
    background: white;
    
    /* width: 25%; */
}


.mainContent{
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px grey;
}
.responseField{
    border-left: 1px solid grey;
}
.inputField{
    border-right: 1px solid grey;
}
.translationFieldHeadBox{
    background :  white;
    width : 100% ;
    padding : 10px;
    font-size: small;
}
.field{
    border-top: 1px solid grey;
}
